# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# React Native
.metro-health-check*

# Android (all nested android directories)
**/.gradle/
**/.kotlin/
**/.cxx/
**/app/build/
**/build/
**/local.properties
*.iml
.idea/

# APK files
*.apk

# iOS
ios/Pods/
ios/build/

# Bundle
*.jsbundle
*.jsbundle.map

# Misc
.env
*.log
*.pdf
build_log.txt
metro_log.txt
